.eadbody {
	background-color: white;
	background-image: url("img/bg_techdemo.png");
	background-repeat: repeat-x;
	color: white;
}

#wrapper {
	width: auto;
}

#container {
	margin: auto;
	width: 900px;
}

#menu {
	width: 800px;
	margin: auto;
}

#links {
	width: 100px;
	float: left;
	margin-top: 20px;
}

#playn-root {
	margin: auto;
	margin-top: 20px;
	width: 800px;
	height: 600px;
	background-color: white;
	box-shadow: 0px 0px 5px #883D1D;
	float: right;
}

.demolink {
	display: block;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
}

#tech_demo_link {
	background-image: url("img/tech_demo_button.png");
}

#fire_protocol_link {
	background-image: url("img/fire_protocol_button.png");
}

#navbar {
	background-color: white;
	width: auto;
}

#navbar ol {
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#navbar li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-family: Arial;
    font-size: 12px;
}

#footer {
	clear: both;
	height: 20px;
	margin-top: 20px;
}