#########################
# Maven
#########################

# general output
target/

# test output
test/resources/result*
/tests/techdemo/src/main/resources

#########################
# Local & Generated
#########################

# local, unversioned files
/local/

# generated resources
**/R.java

# location of ADK (see same-location test.properties.template)
/core/exporter/src/test/resources/test.properties

# web output
/core/engine-html/src/main/webapp/assets/
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/lib/
*.war

# engine configuration (if launched locally)
/core/engine-desktop/engine_configuration.xml

# editor-generated preferences file
/core/editor-core/ead-editor-config.xml

# guitools prefs
/guitools/enginegui/enginegui.properties

#########################
# Eclipse
#########################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.iml
.idea/
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
# ignore editor backups
**~

# ignore all compilation output
**.class

# eclipse settings
*.prefs

#########################
# NetBeans
#########################

nb-configuration.xml
nbactions.xml

#########################
# Java output / logs
#########################

# jvm error files
**/hs_err*.log

# Logs
*.log

#########################
# GWT
#########################

/core/engine-html/.gwt/
/core/engine-html/gwt-unitCache*
/core/engine-html/war/ead*
/core/engine-html/war/assets*

# copied over
#/core/engine-html/src/main/webapp/assets

#########################
# Android
#########################

/core/engine-android/libs/android-support-v4.jar

# android-compilation generated files and output; also, special lint.xml rules
/core/engine-android/gen/
/core/engine-android/bin/

/core/engine-android/assets
/core/engine-android/gen/
/core/engine-android/bin/
/core/engine-android/proguard.cfg

*.scene
*.chapter
manifest.xml
