<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ead.engine"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>

	<uses-permission android:name="android.permission.INTERNET"/>	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/launcher_icon2" android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar" android:debuggable="true">
        
        <activity android:name=".home.SplashScreenActivity" android:screenOrientation="portrait">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.ead" />
            </intent-filter>
		</activity>
        
        <activity android:name="EAdventureEngineActivity" android:screenOrientation="landscape"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".DemoSelectionActivity">
        	<intent-filter>
				<action android:name="android.intent.action.MAIN" />			
				<category android:name="android.intent.category.LAUNCHER" />			
			</intent-filter>                 	
		</activity>
        <activity android:name=".home.WorkspaceActivity"></activity>
		<activity android:name=".home.HomeActivity"></activity>
		<activity android:name=".home.preferences.PreferencesActivity"></activity>
        <activity android:name=".home.preferences.LaunchAndExplorerActivity"></activity>
		<activity android:screenOrientation="landscape"
			android:name=".assets.specialassetrenderers.AndroidVideoActivity"></activity>
		<activity android:screenOrientation="landscape"
			android:name=".assets.specialassetrenderers.AndroidVideoRendererTestndererTestndererTestndererTestrTestrTestrTest"></activity>

    </application>
</manifest>